// COLORS
$color-primary: #7c5dfa;
$color-primary-light: #7e88c3;
$color-primary-dark: #373b53;

$color-secondary-light: #858bb2;
$color-secondary-dark: #1e2139;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #494e6e;

$color-grey-light-1: #f8f8fb;
$color-grey-light-2: #888eb0;

$color-grey-dark: #777f98;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #0c0e16;

// MEDIA QUERIES
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

// FONT
$font-size-xxs: 10px !default;
$font-size-xs: 12px !default;
$font-size-s: 14px !default;
$font-size-m: 16px !default;
$font-size-l: 20px !default;
$font-size-xl: 24px;
$font-size-xxl: 32px !default;
$font-size-xxxl: 48px !default;

// SPACING
$spacing-xxs: 4px !default;
$spacing-xs: 8px !default;
$spacing-s: 16px !default;
$spacing-m: 24px !default;
$spacing-l: 32px !default;
$spacing-xl: 40px !default;
$spacing-xxl: 48px !default;
$spacing-xxxl: 56px !default;
$spacing-4xl: 98px !default;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// BORDER RADIUS
$border-radius-container: 8px;
$border-radius-right-corner: 0px 20px 20px 0px;
$border-round: 50%;
