@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 75%; // 1 rem = 12px
}

.invoice-builder {
  display: flex;
  @media (max-width: 768px) {
    display: block;
  }
}

body {
  font-family: 'League Spartan', sans-serif;
  box-sizing: border-box;
  background-color: $color-grey-light-1;
  font-weight: 400;
  line-height: 1.7;
  color: $color-black;
  min-height: 100vh;
  margin: 0;
  width: 100%;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

.no-scroll {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
  // for iOS
  -webkit-overflow-scrolling: none;
}

.only-mobile-active {
  @media (min-width: 680px) {
    display: none;
  }
}

.only-desktop-active {
  @media (max-width: 680px) {
    display: none;
  }
}

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 899;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  background: rgba(0, 0, 0, 0.5);
  display: table;
}

.back-cta {
  display: flex;
  align-items: center;
  position: relative;
  gap: $spacing-m;
  left: 0;
  transition: left 0.1s linear;
  cursor: pointer;
  font-weight: 700;
  &:hover {
    left: -5px;
  }
}

.arrow-icon {
  rotate: 180deg;
  display: inline;
}
