.main-button {
  border: none;
  cursor: pointer;
  background-color: $color-primary;
  border-radius: 24px;
  color: $color-white;
  padding: 8px 16px 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  gap: 16px;
  &:hover {
    background: #9277ff;
  }
  @media (max-width: 680px) {
    gap: 8px;
  }
  &__icon-container {
    background-color: $color-white;
    border-radius: $border-round;
    padding: 10px;
    position: relative;
    width: 32px;
    height: 32px;
  }
  &__add-icon {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__title {
    @media (max-width: 680px) {
      display: none;
    }
  }
  &__title-mobile {
    @media (min-width: 680px) {
      display: none;
    }
  }
}

.action-btn {
  cursor: pointer;
  border: none;
  color: $color-primary-light;
  border-radius: 24px;
  padding: 14px;
  font-weight: 700;
  font-size: 12px;
}

.primary {
  background: $color-primary;
  color: $color-white;
  &:hover {
    background: #9277ff;
  }
}
.secondary {
  background: #f9fafe;
  color: #7e88c3;
  &:hover {
    background: #dfe3fa;
  }
}
.dark {
  background: #373b53;
  color: #888eb0;
  &:hover {
    background: #0c0e16;
  }
}
.danger {
  background: #ec5757;
  color: $color-white;
  &:hover {
    background: #ff9797;
  }
}
