.main-button {
  border: none;
  cursor: pointer;
  background-color: $color-primary;
  border-radius: 24px;
  color: #fff;
  padding: 8px 16px 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  gap: 16px;
  @media (max-width: 680px) {
    gap: 8px;
  }
  &__icon-container {
    background-color: #fff;
    border-radius: $border-round;
    padding: 10px;
    position: relative;
    width: 32px;
    height: 32px;
  }
  &__add-icon {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__title {
    @media (max-width: 680px) {
      display: none;
    }
  }
  &__title-mobile {
    @media (min-width: 680px) {
      display: none;
    }
  }
}

.action-btn {
  cursor: pointer;
  border: none;
  color: #7e88c3;
  border-radius: 24px;
  padding: 18px;
  font-weight: 700;
}

.primary {
  background: #7c5dfa;
  color: #ffffff;
}
.danger {
  background: #ec5757;
  color: #ffffff;
  &:hover {
    background: #ff9797;
  }
}
