.base-input {
  width: 100%;
  border: 1px solid #dfe3fa;
  border-radius: $spacing-xxs;
  padding: 14px;
  &::placeholder {
    color: #0c0e16;
    font-weight: 700;
    font-size: $font-size-xs;
    opacity: 0.4;
    line-height: 15px;
    letter-spacing: 0.3px;
  }
}

.small-input {
  max-width: 150px;
}

.mobile-input-full-block {
  @media (max-width: 680px) {
    flex: 1 1 100%;
  }
}

.mobile-input-block {
  flex: 1 1 25%;
  @media (max-width: 680px) {
    flex: 1 1 40%;
  }
}

.mobile-input {
  @media (max-width: 680px) {
    max-width: 100%;
  }
}

.input-label {
  display: block;
  color: $color-primary-light;
  margin-bottom: 10px;
}

.input-container {
  margin-bottom: $spacing-m;
}
