.paid {
  background-color: rgba(51, 214, 159, 0.06);
  color: #33d69f;
}

.pending {
  color: #ff8f00;
  background: rgba(255, 143, 0, 0.06);
}

.draft {
  background: rgba(55, 59, 83, 0.06);
  color: #373b53;
}
